/* General */

html body {
    position: relative;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    transition: background 0.5s ease-in-out;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    opacity: 0.7;
    transition: opacity 0.6s ease-in;
}

p {
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

h4 {
    margin: 0 !important;
}

.link-primary {
    font-size: 0.85rem;
    padding: 5px;
}

.link-primary:hover {
    color: white !important;
    text-decoration: none;
}

/* Navigator */

nav {
    display: flex;
    align-items: center;
}

.nav-size {
    font-size: 0.8rem;
}

.navbar-toggler-icon{
    font-size: 0.85rem;
}

/* Footer */

footer {
    clear: both;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 140px;
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    color: #63f4fd;
}

.copyright {
    text-align: center;
    color: white;
    font-size: 0.85rem;
}

.footer-links {
    text-align: center;
    font-size: 0.75rem;
}

.footer-icons {
    text-align: center;
    font-size: 1.1rem;
    padding: 5px;
}

.footer-icons:hover {
    color: white;
}

/* Home section */

.home {
    position: relative;
    background-image: url("img/consultancy.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    left: 0;
    right: 0;
    top: 0vh;
    max-width: 100%;
    padding: 5%;
    padding-top: 0vh;
    padding-bottom: 5%
}

.home-title {
    color: black;
    padding: 0;
    font-size: 3rem;
    text-shadow: 0 0 20vw black;
    transform: translateY(20%);
    font-family: 'DM Serif Display', serif;
    font-weight: 200;
    margin-left: 3vw;
    margin-top: 9vh;
}

.card-hp {
    @extend .class;
    min-height: 100%;
    padding-top:10vh;
}

.hp-card-container {
    margin-top: 10vh;
    margin-left: 3vw;
    margin-right: 0vw;
    border: none !important;
}

.hp-card {
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    color:black;
}

.hp-card-title {
    font-size: 1.25rem;
}

/* Mission section */

.mission {
    position: relative;
    background-color: #090909;
    left: 0;
    right: 0;
    top: 0;
    max-width: 100%;
    padding: 10vh;
}

.mission-title {
    color: white;
    padding: 0;
    font-size: 2.5rem;
    font-family: 'DM Serif Display', serif;
    font-weight: 200;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vh;
    margin-top: 7vh;
    text-align: left;
}

.mission-subtitle {
    font-size: 1rem;
    font-weight: 400;
    padding: 3%;
    padding-right: 1%;
    border-radius: 0;
    margin-left: 5vw;
    margin-right: 5vw;
}

.mission-image {
    padding-top: 2vh;
    padding-right: 7vw;
    max-width: 80%;
    opacity: 1;
}

.img-col {
    margin-left: 0vw;
    margin-right: 0vw;
    padding:0;
}

/* Product section */

.product {
    position: relative;
    background-color: white;
    margin-top: 10vh;
    max-width: 100%;
    padding: 10vh;
}

.product-title {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 1rem;
    font-weight: 300;
    border-radius: 0;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 0;
    z-index: 1;
}

.product-subtitle {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: black;
    font-size: 0.95rem;
    font-weight: 400;
    padding: 3%;
    border-radius: 0;
    margin: 5%;
    margin-bottom: 0%;
    margin-left: 7%;
    margin-top: 7%;
    padding-bottom: 0%;
    z-index: 1;
}

.product-subtitle-2 {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: black;
    font-size: 0.95rem;
    font-weight: 400;
    padding: 3%;
    padding-bottom: 1%;
    border-radius: 0;
    margin: 8%;
    margin-bottom:3%;
    margin-top:3%;
    z-index: 1;
}

.product-image {
    max-width: 80%;
    margin-top: 7%;
    margin-left: 25%;
}

.product-image-width {
    width:4rem;
}

.padding-cards {
    padding: 5%;
    padding-top: 3%;
}

.product-card-container {
    margin-top: 0vh;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0vh;
    border: none !important;
    max-width: 100%;
    opacity: 0.7;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.product-card-container.fade-in.is-visible {
    opacity: 1;
    transform: translateY(0);
}

.card-font {
    font-size: 0.75rem;
}

.card-hover:hover {
    transform: scale(1.1);
}

.img-card {
    max-width: 4rem;
    padding-right: 1vw;
}

/* Services section */

.services {
    position: relative;
    background-color: #eaecf3;
    background-image: url("img/services.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    left: 0;
    right: 0;
    top: 0;
    width: 100vw;
    height: auto;
    padding: 0vh;
    padding-top: 2%;
    padding-bottom: 2%;
}

.services-title {
    position: relative;
    color: black;
    font-weight: 400;
    padding: 0;
    border-radius: 0;
    margin-bottom: 0%;
    padding-bottom: 0%;
    z-index: 1;
    font-size: 1.5rem;
    padding-top: 5%;
}

.services-title-font {
    font-size: 1.8rem;
}

.services-subtitle {
    position: relative;
    color: black;
    font-size: 0.85rem;
    font-weight: 400;
    padding: 0;
    border-radius: 0;
    margin-bottom: 0%;
    padding-bottom: 0%;
    z-index: 1;
}

.services-title-card {
    color: black;
    padding: 0;
    font-size: 2vw;
    text-shadow: 0 0 20vw black;
    transform: translateY(20%);
    font-family: 'DM Serif Display', serif;
    font-weight: 200;
    margin-top: 0vh;
    margin-bottom: 3vh;
    text-align: left;
}

.service-card {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
}

.controller-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 5vh;
    margin-top: 1vh;
}

.controller {
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
    color: white;
    font-size: 1rem;
    color:black;
    transition: background-color 0.3s ease;
}

.controller:hover, .controller.active {
    background-image: url("img/markpink.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
}

.card1 {
    background-color: white;
    border-radius: 0 !important;
    box-shadow: 0px 10px 10px #A58CB9ff;
    opacity: 1;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 3%;
    text-align: left;
}

.card2 {
    background-color: white;
    border-radius: 0 !important;
    box-shadow: 0px 10px 10px #A58CB9ff;
    opacity: 1;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 3%;
    text-align: left;
}

.card3 {
    background-color: white;
    border-radius: 0 !important;
    box-shadow: 0px 10px 10px #A58CB9ff;
    opacity: 1;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 3%;
    text-align: left;
}

/* Contacts section */

.contacts {
    position: relative;
    background-color: black;
    left: 0;
    right: 0;
    top: 0;
    max-width: 100%;
    padding: 10vh;
    padding-top: 8vh;
    padding-bottom: 25vh;
}

.contacts-image {
    height: 3rem;
}

.contacts-title {
    color: black;
    padding: 0;
    font-size: 5vw;
    text-shadow: 0 0 20vw black;
    transform: translateY(20%);
    font-family: 'DM Serif Display', serif;
    font-weight: 200;
    margin-top: 2vh;
    margin-bottom: 3vh;
    text-align: center;
}

.contacts-padding {
    padding-left: 10%;
    margin-left: 10%;
    padding-right: 3%;
    border-right: 1px solid #B74E93ff;
}

.contacts-font-title {
    font-family: 'DM Serif Display'; serif;
    font-size: 2rem;
    color:#efefef;
}

.contacts-font-subtitle {
    font-family: 'Montserrat';
    font-size: 1.1rem;
    color:#efefef;
}

.circle img {
    transition: 1s ease;
}

.circle img:hover {
    content: url('img/lastimghover.png');
    transition: 1s ease;
}

/* Effects */

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.highlight {
    position: relative;
    display: inline-block;
}

.highlight::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    right: -10px;
    width: 105%;
    height: 95%;
    background-image: url('img/marker-highlight.svg');
    background-repeat: repeat-x;
    background-size: auto 100%;
    z-index: -1;
}

.highlight-pink {
    position: relative;
    display: inline-block;
}

.highlight-pink::before {
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    width: 105%;
    height: 90%;
    background-image: url('img/marker-highlight-pink.svg');
    background-repeat: repeat-x;
    background-size: auto 100%;
    z-index: -1;
}

.highlight-pink-long {
    position: relative;
    display: inline-block;
}

.highlight-pink-long::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    width: 105%;
    height: 100%;
    background-image: url('img/markpink.png');
    background-repeat: repeat-x;
    background-size: auto 100%;
    z-index: -1;
}

.enlarge-on-hover:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.flash-on-hover:hover {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}

@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

@media (min-width: 1024px) {

    .nav-size {
        font-size: 1.2rem;
    }

    .home {
        padding: 2%;
        padding-top: 0vh;
    }

    .home-title {
        font-size: 3.7rem;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .hp-card-container {
        margin-top: 2vh;
        margin-left: 2vw;
        margin-right: 0vw;
        border: none !important;
        font-size: 1.4rem;
    }

    .hp-card-title {
        font-size: 2rem;
    }

    .mission {
        padding: 2vh;
        padding-top: 0vh;
        padding-bottom: 7%;
    }

    .mission-title {
        font-size: 3rem;
        margin-top: 8%;
        margin-bottom: 1vh;
    }

    .mission-subtitle {
        font-size: 1.4rem;
        margin-left: 2vw;
        margin-right: 5vw;
    }

    .mission-image {
        padding-top: 0%;
        padding-right: 20%;
        padding-left: 0%;
        max-width: 105%;
        opacity: 1;
    }

    .product {
        position: relative;
        background-color: white;
        margin-top: 10vh;
        max-width: 100%;
        padding: 3%;
    }

    .product-subtitle {
        font-size: 1.4rem;
    }

    .product-subtitle-2 {
        font-size: 1.4rem;
        margin: 5%;
        margin-top: 1%;
    }

    .product-card-container {
        margin-top: 0vh;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0vh;
        border: none !important;
        max-width: 100%;
        opacity: 0.7;
        transform: translateY(50px);
        transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    }

    .product-card-padding {
        padding-right: 10px !important;
        padding-left: 10px !important;
    }

    .product-image-width {
        width:10rem;
    }

    .card-font {
        font-size: 1.1rem;
    }

    .card-hover:hover {
        transform: scale(1.05);
    }

    .img-card {
        max-width: 4rem;
        padding-right: 1vw;
    }

    .services {
        padding-top: 0%;
        padding-bottom: 2%;
    }

    .services-title {
        position: relative;
        color: black;
        font-weight: 400;
        padding: 0;
        border-radius: 0;
        margin-bottom: 0%;
        padding-bottom: 0%;
        z-index: 1;
        font-size: 1.5rem;
        padding-top: 8%;
    }

    .services-subtitle {
        font-size: 1.3rem;
    }

    .services-title-card {
        font-size: 1.5rem;
        margin-bottom: 3%;
        text-align: left;
    }

    .service-card {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 8%;
    }

    .contacts {
        position: relative;
        background-color: black;
        left: 0;
        right: 0;
        top: 0;
        max-width: 100%;
        padding: 3%;
        padding-top: 0%;
        padding-bottom: 10%;
    }

    .contacts-image {
        height: 2rem;
    }

    .contacts-title {
        color: black;
        padding: 0;
        font-size: 1.8rem;
        text-shadow: 0 0 20vw black;
        transform: translateY(20%);
        font-family: 'DM Serif Display', serif;
        font-weight: 200;
        margin-top: 2vh;
        margin-bottom: 0vh;
        text-align: center;
    }

    .contacts-padding {
        padding-left: 0%;
        margin-left: 5%;
        padding-right: 0%;
        border-right: 1px solid #B74E93ff;
    }

    .contacts-font-title {
        font-family: 'DM Serif Display'; serif;
        font-size: 2.6rem;
        color:#efefef;
    }

    .contacts-font-subtitle {
        font-family: 'Montserrat';
        font-size: 1.4rem;
        color:#efefef;
    }

    .circle img {
        transition: 1s ease;
    }

    .circle img:hover {
        content: url('img/lastimghover.png');
        transition: 1s ease;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {

    .home {
        padding: 2vh;
        padding-top: 9%;

    }

    .home-title {
        font-size: 2rem;
        margin-top: 0%;
        margin-bottom: 8%;
    }

    .hp-card-container {
        margin-top: 2vh;
        margin-left: 2vw;
        margin-right: 0vw;
        border: none !important;
        font-size: 0.75rem;
    }

    .hp-card-title {
        font-size: 1.05rem;
    }

    .card-hp {
        padding-top: 2vh;
    }

    .mission {
        padding: 2vh;
        padding-top: 0vh;
        padding-bottom: 4%;
    }

    .mission-title {
        font-size: 1.8rem;
        margin-top: 8%;
        margin-bottom: 1vh;
    }

    .mission-subtitle {
        font-size: 0.8rem;
        margin-left: 2vw;
        margin-right: 5vw;
    }

    .mission-image {
        padding-top: 5%;
        padding-right: 20%;
        padding-left: 0%;
        max-width: 100%;
        opacity: 1;
    }

    .product {
        position: relative;
        background-color: white;
        margin-top: 10vh;
        max-width: 100%;
        padding: 3%;
    }

    .product-subtitle {
        font-size: 0.9rem;
    }

    .product-subtitle-2 {
        font-size: 0.9rem;
        margin: 5%;
        margin-top: 2%;
    }

    .product-card-container {
        margin-top: 0vh;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0vh;
        border: none !important;
        max-width: 100%;
        opacity: 0.7;
        transform: translateY(50px);
        transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    }

    .product-card-padding {
        padding-right: 10px !important;
        padding-left: 10px !important;
    }

    .product-image-width {
        width:3.3rem;
    }

    .card-font {
        font-size: 0.6rem;
    }

    .card-hover:hover {
        transform: scale(1.05);
    }

    .img-card {
        max-width: 4rem;
        padding-right: 1vw;
    }

    .services {
        padding-top: 0%;
        padding-bottom: 2%;
    }

    .services-title {
        position: relative;
        color: black;
        font-weight: 400;
        padding: 0;
        border-radius: 0;
        margin-bottom: 0%;
        padding-bottom: 0%;
        z-index: 1;
        font-size: 1.3rem;
        padding-top: 8%;
    }

    .services-subtitle {
        font-size: 0.8rem;
    }

    .services-title-card {
        font-size: 1.2rem;
        margin-bottom: 3%;
        text-align: left;
    }

    .service-card {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 8%;
    }

    .contacts {
        position: relative;
        background-color: black;
        left: 0;
        right: 0;
        top: 0;
        max-width: 100%;
        padding: 3%;
        padding-top: 0%;
        padding-bottom: 17%;
    }

    .contacts-image {
        height: 2rem;
    }

    .contacts-title {
        color: black;
        padding: 0;
        font-size: 1.6rem;
        text-shadow: 0 0 20vw black;
        transform: translateY(20%);
        font-family: 'DM Serif Display', serif;
        font-weight: 200;
        margin-top: 2vh;
        margin-bottom: 0vh;
        text-align: center;
    }

    .contacts-padding {
        padding-left: 0%;
        margin-left: 5%;
        padding-right: 0%;
        border-right: 1px solid #B74E93ff;
    }

    .contacts-font-title {
        font-family: 'DM Serif Display'; serif;
        font-size: 1.5rem;
        color:#efefef;
    }

    .contacts-font-subtitle {
        font-family: 'Montserrat';
        font-size: 0.75rem;
        color:#efefef;
    }

    .circle img {
        transition: 1s ease;
    }

    .circle img:hover {
        content: url('img/lastimghover.png');
        transition: 1s ease;
    }

}

@media (min-width: 700px) and (max-width: 767px) {

    .home {
        padding: 2.5vh;
        padding-top: 0vh;
    }

    .home-title {
        font-size: 3rem;
        margin-top: 10%;
        margin-bottom: 4%;
    }

    .hp-card-container {
        margin-top: 0vh;
        margin-left: 2vw;
        margin-right: 0vw;
        border: none !important;
        font-size: 1rem;
    }

    .hp-card-title {
        font-size: 1.5rem;
    }

    .card-hp {
        padding-top: 0%;
    }

    .mission {
        padding: 1vh;
        padding-top: 0vh;
        padding-bottom: 5vh;
    }

    .mission-title {
        font-size: 2rem;
        padding: 2%;
        margin-top: 5%;
        margin-right: 4%;
        margin-bottom: 0%;
    }

    .mission-subtitle {
        font-size: 0.9rem;
    }

    .mission-image {
        padding-top: 5vh;
        padding-right: 2vw;
        max-width: 50%;
        opacity: 1;
    }

    .product {
        position: relative;
        background-color: white;
        margin-top: 10vh;
        max-width: 100%;
        padding: 3%;
    }

    .product-image {
        max-width: 100%;
        margin-left: 10%;
    }

    .product-subtitle {
        font-size: 0.9rem;
    }

    .product-subtitle-2 {
        font-size: 0.9rem;
        margin: 5%;
        margin-top: 2%;
    }

    .product-card-container {
        margin-top: 0vh;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0vh;
        border: none !important;
        max-width: 100%;
        opacity: 0.7;
        transform: translateY(50px);
        transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    }

    .product-card-padding {
        padding-right: 10px !important;
        padding-top: 7px !important;
        padding-left: 10px !important;
        padding-bottom: 7px !important;
    }

    .product-image-width {
        width:4rem;
    }

    .padding-cards {
        padding-left: 1%;
        padding-right: 4%;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    .card-font {
        font-size: 0.85rem;
    }

    .card-hover:hover {
        transform: scale(1.05);
    }

    .img-card {
        max-width: 6rem;
        padding-right: 1vw;
    }

    .services {
        padding-top: 0%;
        padding-bottom: 2%;
    }

    .services-title {
        position: relative;
        color: black;
        font-weight: 400;
        padding: 0;
        border-radius: 0;
        margin-bottom: 0%;
        padding-bottom: 0%;
        z-index: 1;
        font-size: 1.3rem;
        padding-top: 8%;
    }

    .services-subtitle {
        font-size: 0.8rem;
    }

    .services-title-card {
        font-size: 1.2rem;
        margin-bottom: 3%;
        text-align: left;
    }

    .service-card {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 8%;
    }

    .contacts {
        position: relative;
        background-color: black;
        left: 0;
        right: 0;
        top: 0;
        max-width: 100%;
        padding: 3%;
        padding-top: 0%;
        padding-bottom: 19%;
    }

    .contacts-image {
        height: 2rem;
    }

    .contacts-title {
        color: black;
        padding: 0;
        font-size: 1.6rem;
        text-shadow: 0 0 20vw black;
        transform: translateY(20%);
        font-family: 'DM Serif Display', serif;
        font-weight: 200;
        margin-top: 2vh;
        margin-bottom: 0vh;
        text-align: center;
    }

    .contacts-padding {
        padding-left: 0%;
        margin-left: 5%;
        padding-right: 0%;
        border-right: 1px solid #B74E93ff;
    }

    .contacts-font-title {
        font-family: 'DM Serif Display'; serif;
        font-size: 1.2rem;
        color:#efefef;
    }

    .contacts-font-subtitle {
        font-family: 'Montserrat';
        font-size: 0.7rem;
        color:#efefef;
    }

    .circle img {
        transition: 1s ease;
    }

    .circle img:hover {
        content: url('img/lastimghover.png');
        transition: 1s ease;
    }

}

@media (min-width: 600px) and (max-width: 700px) {

    .home {
        padding: 2.5vh;
        padding-top: 0vh;
    }

    .home-title {
        font-size: 2.5rem;
        margin-top: 10%;
        margin-bottom: 4%;
    }

    .hp-card-container {
        margin-top: 0vh;
        margin-left: 2vw;
        margin-right: 0vw;
        border: none !important;
        font-size: 0.85rem;
    }

    .hp-card-title {
        font-size: 1.3rem;
    }

    .card-hp {
        padding-top: 0%;
    }

    .mission {
        padding: 1vh;
        padding-top: 0vh;
        padding-bottom: 5vh;
    }

    .mission-title {
        font-size: 1.7rem;
        padding: 2%;
        margin-top: 5%;
        margin-right: 4%;
        margin-bottom: 0%;
    }

    .mission-subtitle {
        font-size: 0.85rem;
    }

    .mission-image {
        padding-top: 5vh;
        padding-right: 2vw;
        max-width: 55%;
        opacity: 1;
    }

    .product {
        position: relative;
        background-color: white;
        margin-top: 10vh;
        max-width: 100%;
        padding: 3%;
        padding-bottom: 10%;
    }

    .product-image {
        max-width: 100%;
        margin-left: 10%;
    }

    .product-subtitle {
        font-size: 0.85rem;
    }

    .product-subtitle-2 {
        font-size: 0.85rem;
        margin: 5%;
        margin-top: 2%;
    }

    .product-card-container {
        margin-top: 0vh;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0vh;
        border: none !important;
        max-width: 100%;
        opacity: 0.7;
        transform: translateY(50px);
        transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    }

    .product-card-padding {
        padding-right: 10px !important;
        padding-top: 7px !important;
        padding-left: 10px !important;
        padding-bottom: 7px !important;
    }

    .product-image-width {
        width:4rem;
    }

    .padding-cards {
        padding-left: 1%;
        padding-right: 4%;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    .card-font {
        font-size: 0.8rem;
    }

    .card-hover:hover {
        transform: scale(1.05);
    }

    .img-card {
        max-width: 6rem;
        padding-right: 1vw;
    }

    .services {
        padding-top: 0%;
        padding-bottom: 10%;
    }

    .services-title {
        position: relative;
        color: black;
        font-weight: 400;
        padding: 0;
        border-radius: 0;
        margin-bottom: 0%;
        padding-bottom: 0%;
        z-index: 1;
        font-size: 1.3rem;
        padding-top: 8%;
    }

    .services-subtitle {
        font-size: 0.75rem;
    }

    .services-title-card {
        font-size: 1rem;
        margin-bottom: 3%;
        text-align: left;
    }

    .services-title-font {
        font-size: 1.5rem;
    }

    .service-card {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 8%;
    }

    .contacts {
        position: relative;
        background-color: black;
        left: 0;
        right: 0;
        top: 0;
        max-width: 100%;
        padding: 3%;
        padding-top: 0%;
        padding-bottom: 21%;
    }

    .contacts-image {
        height: 2rem;
    }

    .contacts-title {
        color: black;
        padding: 0;
        font-size: 1.6rem;
        text-shadow: 0 0 20vw black;
        transform: translateY(20%);
        font-family: 'DM Serif Display', serif;
        font-weight: 200;
        margin-top: 2vh;
        margin-bottom: 0vh;
        text-align: center;
    }

    .contacts-padding {
        padding-left: 0%;
        margin-left: 5%;
        padding-right: 0%;
        border-right: 1px solid #B74E93ff;
    }

    .contacts-font-title {
        font-family: 'DM Serif Display'; serif;
        font-size: 1.2rem;
        color:#efefef;
    }

    .contacts-font-subtitle {
        font-family: 'Montserrat';
        font-size: 0.65rem;
        color:#efefef;
    }

    .circle img {
        transition: 1s ease;
    }

    .circle img:hover {
        content: url('img/lastimghover.png');
        transition: 1s ease;
    }

}

@media (min-width: 431px) and (max-width: 600px) {

    .home {
        padding: 2%;
        padding-top: 0vh;
    }

    .home-title {
        font-size: 3rem;
        margin-top: 10%;
        margin-bottom: 4%;
    }

    .hp-card-container {
        margin-top: 0vh;
        margin-left: 2vw;
        margin-right: 0vw;
        border: none !important;
        font-size: 1rem;
    }

    .hp-card-title {
        font-size: 1.5rem;
    }

    .card-hp {
        padding-top: 0%;
    }

    .mission {
        padding: 2%;
        padding-top: 0vh;
        padding-bottom: 10%;
    }

    .mission-title {
        font-size: 2rem;
        padding: 1.5%;
        margin-top: 5%;
        margin-right: 2%;
        margin-bottom: 2%;
    }

    .mission-subtitle {
        font-size: 0.9rem;
        padding: 1%;
    }

    .mission-image {
        padding-top: 5vh;
        padding-right: 2vw;
        max-width: 55%;
        opacity: 1;
    }

    .product {
        position: relative;
        background-color: white;
        margin-top: 10vh;
        max-width: 100%;
        padding: 0%;
        padding-bottom: 10%;
    }

    .product-image {
        max-width: 60%;
        margin: 7% auto 0 8%; /* top, right, bottom, left */
    }

    .product-subtitle {
        font-size: 0.9rem;
        padding: 0%;
        margin: 4%;
    }

    .product-subtitle-2 {
        font-size: 0.9rem;
        padding: 3%;
        margin: 4%;
    }

    .product-card-container {
        margin-top: 0vh;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0vh;
        border: none !important;
        max-width: 100%;
        opacity: 0.7;
        transform: translateY(50px);
        transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    }

    .product-card-padding {
        padding-right: 10px !important;
        padding-top: 7px !important;
        padding-left: 10px !important;
        padding-bottom: 7px !important;
    }

    .product-image-width {
        width:4rem;
    }

    .padding-cards {
        padding-left: 1%;
        padding-right: 4%;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    .card-font {
        font-size: 0.6rem;
    }

    .card-hover:hover {
        transform: scale(1.05);
    }

    .img-card {
        max-width: 4rem;
        padding-right: 1vw;
    }

    .services {
        padding-top: 0%;
        padding-bottom: 10%;
    }

    .services-title {
        position: relative;
        color: black;
        font-weight: 400;
        padding: 0;
        border-radius: 0;
        margin-bottom: 0%;
        padding-bottom: 0%;
        z-index: 1;
        font-size: 1.3rem;
        padding-top: 8%;
    }

    .services-subtitle {
        font-size: 0.8rem;
    }

    .services-title-card {
        font-size: 1.2rem;
        margin-bottom: 3%;
        text-align: left;
    }

    .service-card {
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 8%;
    }

    .contacts {
        position: relative;
        background-color: black;
        left: 0;
        right: 0;
        top: 0;
        max-width: 100%;
        padding: 3%;
        padding-top: 5%;
        padding-bottom: 25%;
    }

    .contacts-image {
        height: 2rem;
    }

    .contacts-title {
        color: black;
        padding: 0;
        font-size: 1.6rem;
        text-shadow: 0 0 20vw black;
        transform: translateY(20%);
        font-family: 'DM Serif Display', serif;
        font-weight: 200;
        margin-top: 2%;
        margin-left: 8%;
        margin-bottom: 5vh;
        text-align: center;
    }

    .contacts-padding {
        padding-left: 0%;
        margin-left: 15%;
        padding-top: 10%;
        padding-bottom: 5%;
    }

    .contacts-font-title {
        font-family: 'DM Serif Display'; serif;
        font-size: 1.5rem;
        color:#efefef;
    }

    .contacts-font-subtitle {
        font-family: 'Montserrat';
        font-size: 0.75rem;
        color:#efefef;
    }

    .circle img {
        transition: 1s ease;
    }

    .circle img:hover {
        content: url('img/lastimghover.png');
        transition: 1s ease;
    }

}

@media (min-width: 400px) and (max-width: 430px) {

    .home {
        padding: 2%;
        padding-top: 0vh;
    }

    .home-title {
        font-size: 2.6rem;
        margin-top: 18%;
        margin-bottom: 10%;
    }

    .hp-card-container {
        margin-top: 0vh;
        margin-left: 2vw;
        margin-right: 0vw;
        border: none !important;
        font-size: 1rem;
    }

    .hp-card-title {
        font-size: 1.5rem;
    }

    .card-hp {
        padding-top: 0%;
    }

    .mission {
        padding: 2%;
        padding-top: 8%;
        padding-bottom: 10%;
    }

    .mission-title {
        font-size: 2rem;
        padding: 1.5%;
        margin-top: 5%;
        margin-right: 2%;
        margin-bottom: 2%;
    }

    .mission-subtitle {
        font-size: 0.9rem;
        padding: 1%;
    }

    .mission-image {
        padding-top: 5vh;
        padding-right: 2vw;
        max-width: 55%;
        opacity: 1;
    }

    .product {
        position: relative;
        background-color: white;
        margin-top: 10vh;
        max-width: 100%;
        padding: 0%;
        padding-bottom: 10%;
    }

    .product-image {
        max-width: 60%;
        margin: 7% auto 0 8%; /* top, right, bottom, left */
    }

    .product-subtitle {
        font-size: 0.9rem;
        padding: 0%;
        margin: 4%;
    }

    .product-subtitle-2 {
        font-size: 0.9rem;
        padding: 3%;
        margin: 4%;
    }

    .product-card-container {
        margin-top: 0vh;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0vh;
        border: none !important;
        max-width: 100%;
        opacity: 0.7;
        transform: translateY(50px);
        transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    }

    .product-card-padding {
        padding-right: 10px !important;
        padding-top: 7px !important;
        padding-left: 10px !important;
        padding-bottom: 7px !important;
    }

    .product-image-width {
        width:4rem;
    }

    .padding-cards {
        padding-left: 1%;
        padding-right: 4%;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    .card-font {
        font-size: 0.6rem;
    }

    .card-hover:hover {
        transform: scale(1.05);
    }

    .img-card {
        max-width: 4rem;
        padding-right: 1vw;
    }

    .services {
        padding-top: 8%;
        padding-bottom: 10%;
    }

    .services-title {
        position: relative;
        color: black;
        font-weight: 400;
        padding: 0;
        border-radius: 0;
        margin-bottom: 0%;
        padding-bottom: 0%;
        z-index: 1;
        font-size: 1rem;
        padding-top: 8%;
    }

    .services-subtitle {
        font-size: 0.8rem;
    }

    .services-title-card {
        font-size: 1.2rem;
        margin-bottom: 3%;
        text-align: left;
    }

    .services-title-font {
        font-size: 1.3rem;
    }

    .controller {
        cursor: pointer;
        padding: 10px;
        background-color: transparent;
        color: white;
        font-size: 0.9rem;
        color:black;
        transition: background-color 0.3s ease;
    }

    .controller-container {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-bottom: 2vh;
        margin-top: 0vh;
    }

    .service-card {
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 8%;
    }

    .contacts {
        position: relative;
        background-color: black;
        left: 0;
        right: 0;
        top: 0;
        max-width: 100%;
        padding: 3%;
        padding-top: 5%;
        padding-bottom: 33%;
    }

    .contacts-image {
        height: 2rem;
    }

    .contacts-title {
        color: black;
        padding: 0;
        font-size: 1.6rem;
        text-shadow: 0 0 20vw black;
        transform: translateY(20%);
        font-family: 'DM Serif Display', serif;
        font-weight: 200;
        margin-top: 2%;
        margin-left: 8%;
        margin-bottom: 5vh;
        text-align: center;
    }

    .contacts-padding {
        padding-left: 0%;
        margin-left: 7%;
        padding-top: 10%;
        padding-bottom: 5%;
    }

    .contacts-font-title {
        font-family: 'DM Serif Display'; serif;
        font-size: 1.4rem;
        color:#efefef;
    }

    .contacts-font-subtitle {
        font-family: 'Montserrat';
        font-size: 0.75rem;
        color:#efefef;
    }

    .circle img {
        transition: 1s ease;
    }

    .circle img:hover {
        content: url('img/lastimghover.png');
        transition: 1s ease;
    }

}

@media (min-width: 361px) and (max-width: 400px) {

    .home {
        padding: 2%;
        padding-top: 5%;
    }

    .home-title {
        font-size: 2.4rem;
        margin-top: 18%;
        margin-bottom: 10%;
    }

    .hp-card-container {
        margin-top: 0vh;
        margin-left: 2vw;
        margin-right: 0vw;
        border: none !important;
        font-size: 1rem;
    }

    .hp-card-title {
        font-size: 1.3rem;
    }

    .card-hp {
        padding-top: 0%;
    }

    .mission {
        padding: 2%;
        padding-top: 8%;
        padding-bottom: 10%;
    }

    .mission-title {
        font-size: 2rem;
        padding: 1.5%;
        margin-top: 5%;
        margin-right: 2%;
        margin-bottom: 2%;
    }

    .mission-subtitle {
        font-size: 0.9rem;
        padding: 1%;
    }

    .mission-image {
        padding-top: 5vh;
        padding-right: 2vw;
        max-width: 55%;
        opacity: 1;
    }

    .product {
        position: relative;
        background-color: white;
        margin-top: 10vh;
        max-width: 100%;
        padding: 0%;
        padding-bottom: 10%;
    }

    .product-image {
        max-width: 60%;
        margin: 7% auto 0 8%; /* top, right, bottom, left */
    }

    .product-subtitle {
        font-size: 0.9rem;
        padding: 0%;
        margin: 4%;
    }

    .product-subtitle-2 {
        font-size: 0.9rem;
        padding: 3%;
        margin: 4%;
    }

    .product-card-container {
        margin-top: 0vh;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0vh;
        border: none !important;
        max-width: 100%;
        opacity: 0.7;
        transform: translateY(50px);
        transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    }

    .product-card-padding {
        padding-right: 10px !important;
        padding-top: 7px !important;
        padding-left: 10px !important;
        padding-bottom: 7px !important;
    }

    .product-image-width {
        width:4rem;
    }

    .padding-cards {
        padding-left: 1%;
        padding-right: 4%;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    .card-font {
        font-size: 0.6rem;
    }

    .card-hover:hover {
        transform: scale(1.05);
    }

    .img-card {
        max-width: 4rem;
        padding-right: 1vw;
    }

    .services {
        padding-top: 8%;
        padding-bottom: 10%;
    }

    .services-title {
        position: relative;
        color: black;
        font-weight: 400;
        padding: 0;
        border-radius: 0;
        margin-bottom: 0%;
        padding-bottom: 0%;
        z-index: 1;
        font-size: 1rem;
        padding-top: 8%;
    }

    .services-subtitle {
        font-size: 0.8rem;
    }

    .services-title-card {
        font-size: 1.2rem;
        margin-bottom: 3%;
        text-align: left;
    }

    .services-title-font {
        font-size: 1.3rem;
    }

    .controller {
        cursor: pointer;
        padding: 10px;
        background-color: transparent;
        color: white;
        font-size: 0.9rem;
        color:black;
        transition: background-color 0.3s ease;
    }

    .controller-container {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-bottom: 2vh;
        margin-top: 0vh;
    }

    .service-card {
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 8%;
    }

    .contacts {
        position: relative;
        background-color: black;
        left: 0;
        right: 0;
        top: 0;
        max-width: 100%;
        padding: 3%;
        padding-top: 5%;
        padding-bottom: 35%;
    }

    .contacts-image {
        height: 2rem;
    }

    .contacts-title {
        color: black;
        padding: 0;
        font-size: 1.6rem;
        text-shadow: 0 0 20vw black;
        transform: translateY(20%);
        font-family: 'DM Serif Display', serif;
        font-weight: 200;
        margin-top: 2%;
        margin-left: 8%;
        margin-bottom: 5vh;
        text-align: center;
    }

    .contacts-padding {
        padding-left: 0%;
        margin-left: 7%;
        padding-top: 10%;
        padding-bottom: 5%;
    }

    .contacts-font-title {
        font-family: 'DM Serif Display'; serif;
        font-size: 1.3rem;
        color:#efefef;
    }

    .contacts-font-subtitle {
        font-family: 'Montserrat';
        font-size: 0.7rem;
        color:#efefef;
    }

    .circle img {
        transition: 1s ease;
    }

    .circle img:hover {
        content: url('img/lastimghover.png');
        transition: 1s ease;
    }

}

@media (min-width: 321px) and (max-width: 360px) {

    .home {
        padding: 2%;
        padding-top: 5%;
    }

    .home-title {
        font-size: 2.2rem;
        margin-top: 20%;
        margin-bottom: 10%;
    }

    .hp-card-container {
        margin-top: 0vh;
        margin-left: 2vw;
        margin-right: 0vw;
        border: none !important;
        font-size: 0.9rem;
    }

    .hp-card-title {
        font-size: 1.3rem;
    }

    .card-hp {
        padding-top: 0%;
    }

    .mission {
        padding: 2%;
        padding-top: 8%;
        padding-bottom: 5vh;
    }

    .mission-title {
        font-size: 1.8rem;
        padding: 1.5%;
        margin-top: 5%;
        margin-right: 2%;
        margin-bottom: 2%;
    }

    .mission-subtitle {
        font-size: 0.9rem;
        padding: 1%;
    }

    .mission-image {
        padding-top: 5vh;
        padding-right: 2vw;
        max-width: 55%;
        opacity: 1;
    }

    .product {
        position: relative;
        background-color: white;
        margin-top: 15vh;
        max-width: 100%;
        padding: 0%;
        padding-bottom: 10%;
    }

    .product-image {
        max-width: 60%;
        margin: 7% auto 0 8%; /* top, right, bottom, left */
    }

    .product-subtitle {
        font-size: 0.9rem;
        padding: 0%;
        margin: 4%;
    }

    .product-subtitle-2 {
        font-size: 0.9rem;
        padding: 3%;
        margin: 4%;
        margin-top: 2%;
    }

    .product-card-container {
        margin-top: 0vh;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0vh;
        border: none !important;
        max-width: 100%;
        opacity: 0.7;
        transform: translateY(50px);
        transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    }

    .product-card-padding {
        padding-right: 10px !important;
        padding-top: 7px !important;
        padding-left: 10px !important;
        padding-bottom: 7px !important;
    }

    .product-image-width {
        width:4rem;
    }

    .padding-cards {
        padding-left: 1%;
        padding-right: 4%;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    .card-font {
        font-size: 0.6rem;
    }

    .card-hover:hover {
        transform: scale(1.05);
    }

    .img-card {
        max-width: 4rem;
        padding-right: 1vw;
    }

    .services {
        padding-top: 15%;
        padding-bottom: 10%;
    }

    .services-title {
        position: relative;
        color: black;
        font-weight: 400;
        padding: 0;
        border-radius: 0;
        margin-bottom: 0%;
        padding-bottom: 0%;
        z-index: 1;
        font-size: 0.9rem;
        padding-top: 8%;
    }

    .services-subtitle {
        font-size: 0.8rem;
    }

    .services-title-card {
        font-size: 1.2rem;
        margin-bottom: 3%;
        text-align: left;
    }

    .services-title-font {
        font-size: 1.2rem;
    }

    .controller {
        cursor: pointer;
        padding: 10px;
        background-color: transparent;
        color: white;
        font-size: 0.75rem;
        color:black;
        transition: background-color 0.3s ease;
    }

    .controller-container {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-bottom: 2vh;
        margin-top: 0vh;
    }

    .service-card {
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 8%;
    }

    .contacts {
        position: relative;
        background-color: black;
        left: 0;
        right: 0;
        top: 0;
        max-width: 100%;
        padding: 3%;
        padding-top: 5%;
        padding-bottom: 38%;
    }

    .contacts-image {
        height: 2rem;
    }

    .contacts-title {
        color: black;
        padding: 0;
        font-size: 1.6rem;
        text-shadow: 0 0 20vw black;
        transform: translateY(20%);
        font-family: 'DM Serif Display', serif;
        font-weight: 200;
        margin-top: 2%;
        margin-left: 8%;
        margin-bottom: 5vh;
        text-align: center;
    }

    .contacts-padding {
        padding-left: 0%;
        margin-left: 7%;
        padding-top: 10%;
        padding-bottom: 5%;
    }

    .contacts-font-title {
        font-family: 'DM Serif Display'; serif;
        font-size: 1.2rem;
        color:#efefef;
    }

    .contacts-font-subtitle {
        font-family: 'Montserrat';
        font-size: 0.65rem;
        color:#efefef;
    }

    .circle img {
        transition: 1s ease;
    }

    .circle img:hover {
        content: url('img/lastimghover.png');
        transition: 1s ease;
    }

}

@media (max-width: 320px) {

    .home {
        padding: 2%;
        padding-top: 5%;
    }

    .home-title {
        font-size: 2rem;
        margin-top: 20%;
        margin-bottom: 10%;
    }

    .hp-card-container {
        margin-top: 0vh;
        margin-left: 2vw;
        margin-right: 0vw;
        border: none !important;
        font-size: 0.8rem;
    }

    .hp-card-title {
        font-size: 1.1rem;
    }

    .card-hp {
        padding-top: 0%;
    }

    .mission {
        padding: 2%;
        padding-top: 8%;
        padding-bottom: 10%;
    }

    .mission-title {
        font-size: 1.6rem;
        padding: 1.5%;
        margin-top: 5%;
        margin-left: 7%;
        margin-right: 2%;
        margin-bottom: 2%;
    }

    .mission-subtitle {
        font-size: 0.8rem;
        padding: 1%;
    }

    .mission-image {
        padding-top: 5vh;
        padding-right: 2vw;
        max-width: 45%;
        opacity: 1;
    }

    .product {
        position: relative;
        background-color: white;
        margin-top: 15vh;
        max-width: 100%;
        padding: 0%;
        padding-bottom: 10%;
    }

    .product-image {
        max-width: 60%;
        margin: 7% auto 0 8%; /* top, right, bottom, left */
    }

    .product-subtitle {
        font-size: 0.8rem;
        padding: 0%;
        margin: 4%;
    }

    .product-subtitle-2 {
        font-size: 0.8rem;
        padding: 3%;
        margin: 4%;
    }

    .product-card-container {
        margin-top: 0vh;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0vh;
        border: none !important;
        max-width: 100%;
        opacity: 0.7;
        transform: translateY(50px);
        transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    }

    .product-card-padding {
        padding-right: 10px !important;
        padding-top: 7px !important;
        padding-left: 10px !important;
        padding-bottom: 7px !important;
    }

    .product-image-width {
        width:4rem;
    }

    .padding-cards {
        padding-left: 1%;
        padding-right: 4%;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    .card-font {
        font-size: 0.6rem;
    }

    .card-hover:hover {
        transform: scale(1.05);
    }

    .img-card {
        max-width: 4rem;
        padding-right: 1vw;
    }

    .services {
        padding-top: 15%;
        padding-bottom: 10%;
    }

    .services-title {
        position: relative;
        color: black;
        font-weight: 400;
        padding: 0;
        border-radius: 0;
        margin-bottom: 0%;
        padding-bottom: 0%;
        z-index: 1;
        font-size: 0.85rem;
        padding-top: 8%;
    }

    .services-subtitle {
        font-size: 0.7rem;
    }

    .services-title-card {
        font-size: 1rem;
        margin-bottom: 3%;
        text-align: left;
    }

    .services-title-font {
        font-size: 1.2rem;
    }

    .controller {
        cursor: pointer;
        padding: 8px;
        background-color: transparent;
        color: white;
        font-size: 0.7rem;
        color:black;
        transition: background-color 0.3s ease;
    }

    .controller-container {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-bottom: 2vh;
        margin-top: 0vh;
    }

    .service-card {
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 8%;
    }

    .contacts {
        position: relative;
        background-color: black;
        left: 0;
        right: 0;
        top: 0;
        max-width: 100%;
        padding: 3%;
        padding-top: 5%;
        padding-bottom: 42%;
    }

    .contacts-image {
        height: 2rem;
    }

    .contacts-title {
        color: black;
        padding: 0;
        font-size: 1.6rem;
        text-shadow: 0 0 20vw black;
        transform: translateY(20%);
        font-family: 'DM Serif Display', serif;
        font-weight: 200;
        margin-top: 2%;
        margin-left: 8%;
        margin-bottom: 5vh;
        text-align: center;
    }

    .contacts-padding {
        padding-left: 0%;
        margin-left: 7%;
        padding-top: 10%;
        padding-bottom: 5%;
    }

    .contacts-font-title {
        font-family: 'DM Serif Display'; serif;
        font-size: 1.05rem;
        color:#efefef;
    }

    .contacts-font-subtitle {
        font-family: 'Montserrat';
        font-size: 0.55rem;
        color:#efefef;
    }

    .circle img {
        transition: 1s ease;
    }

    .circle img:hover {
        content: url('img/lastimghover.png');
        transition: 1s ease;
    }

}
