
body {
  background: white;
  color: #33333a;
  padding-top: 70px;
  overflow-x: hidden;
}


h1, h2, h3, h4, h5, h6 {
  color: #323232;
}

.main-color {
  background-color: white;
}

.strike-through-td {
    text-decoration: line-through;
}

.col-1 {
    padding-right: 20px;
}
.col-2 {
    padding-left: 20px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-button {
    align-self: center;
}

html body {
    margin: 0;
    background-color: #white;
    font-family: 'Roboto Mono', serif;
    overflow-x: hidden;

}

.homepage {
    font-family: 'Roboto Mono', serif;
    background-color: #242C40;
    background-image: linear-gradient(to right bottom, #242c40, #222a3c, #202739, #1e2535, #1c2232, #1a202e, #181e2b, #171c28, #151924, #131721);
}

.centered {
  margin-top:100px;
}

nav {
    display: flex;
    align-items: center;
}

footer {
    clear: both;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 140px;
    background-color: #242C40;
    padding-left: 10px;
    padding-right: 10px;
}

.copyright {
    text-align: center;
    color: white;
}

.footer-links {
    text-align: center;
    font-size: 1rem;
    color: #FFAE42;
}

.footer-icons {
    text-align: center;
    font-size: 1.2rem;
    color: #FFAE42;
}

.footer-icons:hover {
    color: white;
}

.link-primary {
    color: #FFAE42;
}

.link-primary:hover {
    color: white;
    text-decoration: none;
}

.card1:hover {
  background:#00ffb6;
  border:1px solid #00ffb6;
}

.card1:hover .list-group-item{
  background:#00ffb6 !important
}


.card2:hover {
  background: #13F4EF;
  border:1px solid #00C9FF;
}

.card2:hover .list-group-item{
  background:#13F4EF !important
}


.card3:hover {
  background:#ff95e9;
  border:1px solid #ff95e9;
}

.card3:hover .list-group-item{
  background:#ff95e9 !important
}


.card:hover .btn-outline-dark{
  color:white;
  background:#212529;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;

    /* Flexbox stuff */
    display: flex;

    /* Text styles */
    color: white;

    /* Background styles */
    position: relative;
    z-index: 1;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("img/monethicalhome2.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 1; /* Adjust the opacity value as needed */
    z-index: -1;
}


.hero h1 {
    /* Text styles */
    font-size: 5em;

    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero .btn {
    /* Positioning and sizing */
    display: block;
    width: 200px;

    /* Padding and margins */
    padding: 0.5em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    /* Text styles */
    color: white;
    text-decoration: none;
    font-size: 1.4em;

    /* Border styles */
    border: 3px solid white;
    border-radius: 10px;
}

.form-check-input[type="checkbox"] {
    transform: scale(2);
}

.bodyimg {
    /* Text styles */
    text-align: center;
    color: white;
}

.bodyimg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("img/homepage3.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 1; /* Adjust the opacity value as needed */
    z-index: -1;
}

.hero-inner {
  position: absolute;
  left: 0;
  right: 0;
  top: 20vh; /* Adjust the vertical position as needed */
}

.hero-title {
  color: white;
  padding: 0;
  font-weight: 300;
  font-size: 5vw; /* Adjust the font size based on the screen width */
  text-shadow: 0 0 20vw black; /* Adjust the text shadow based on the screen width */
  transform: translateY(20%); /* Remove or adjust this line */
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 100;
  margin-left: 5vw;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.fade-in {
    opacity: 1;
}


.image {
    max-width: 100%;
    height: auto;
}

/* Added CSS for the fade-out effect */
.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.word {
  display: inline-block;
  margin-right: 10px;
  color: white;
  font-size: 2vw; /* Adjust the font size based on the screen width */
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 100;
  margin-left: 5vw;
  margin-right: 5vw;

  transform: translateY(-20%); /* Remove or adjust this line */
  padding: 3px;
}

@keyframes breathing {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.hero-image {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 2vw;
  animation: breathing 3s infinite;
}

.word:last-child {
  margin-right: 0;
}

.word::after {
  content: ".";
  display: inline-block;
  margin-left: 0vw; /* Adjust the margin based on the screen width */
  color: white;
  font-size: 2.5vw; /* Adjust the font size based on the screen width */
  text-shadow: -0.02vw -0.02vw 0 white, 0.02vw -0.02vw 0 white, -0.02vw 0.02vw 0 white, 0.02vw 0.02vw 0 white; /* Adjust the text shadow based on the screen width */
}


.subtitle {
  margin-bottom: 0;
}

.subtitle h3 {
  margin-bottom: 0;
  line-height: 1;
}

  .card-body:hover {
    background: rgba(0, 0, 0, 0.4) !important;
    border: 1px solid rgba(247, 169, 52, 0.8);
    transform: translate3D(0, -1px, 0) scale(1.1);
    cursor: pointer;
  }

  .card-body:hover .click-text {
    display: block;
  }


/* Media query for smaller screens */
@media (max-width: 768px) {
  .hero-title {
    font-size: 14vw;
    text-shadow: 0 0 2vw black;
  }

  .word {
    font-size: 7vw;
  }

  .subtitle {
    margin-bottom: 12vw;
  }
}
