
body {
  background: white;
  color: #33333a;
  padding-top: 70px;
  overflow-x: hidden;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.solutions-page .card-body-report p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-align: justify;
}

.solutions-page .card-body-blockchain p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-align: justify;
}

.solutions-page .card-body p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
  color: #323232;
}

.main-color {
  background-color: white;
}

.strike-through-td {
    text-decoration: line-through;
}

.col-1 {
    padding-right: 20px;
}
.col-2 {
    padding-left: 20px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-button {
    align-self: center;
}

html body {
    margin: 0;
    background-color: #white;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.homepage {
    font-family: 'Montserrat', serif;
    background-color: #242C40;
    background-image: linear-gradient(to right bottom, #242c40, #222a3c, #202739, #1e2535, #1c2232, #1a202e, #181e2b, #171c28, #151924, #131721);
}

.homepage-contacts {
    font-family: 'Montserrat', serif;
    background-color: #242C40;
    background-image: linear-gradient(to right bottom, #242c40, #222a3c, #202739, #1e2535, #1c2232, #1a202e, #181e2b, #171c28, #151924, #131721);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("img/contacts_bg.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 1; /* Adjust the opacity value as needed */
    z-index: -1;
}

.homepage-solutions {
    font-family: 'Montserrat', serif;
    background-color: #242C40;
    background-image: linear-gradient(to right bottom, #242c40, #222a3c, #202739, #1e2535, #1c2232, #1a202e, #181e2b, #171c28, #151924, #131721);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("img/solutions.svg");
    background-opacity: 0.3;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 1; /* Adjust the opacity value as needed */
    z-index: -1;
}

.centered {
  margin-top:100px;
}

nav {
    display: flex;
    align-items: center;
}

footer {
    clear: both;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 140px;
    background-color: #242C40;
    padding-left: 10px;
    padding-right: 10px;
}

.copyright {
    text-align: center;
    color: white;
}

.footer-links {
    text-align: center;
    font-size: 1rem;
    color: #FFAE42;
}

.footer-icons {
    text-align: center;
    font-size: 1.2rem;
    color: #FFAE42;
}

.footer-icons:hover {
    color: white;
}

.link-primary {
    color: #FFAE42;
}

.link-primary:hover {
    color: white;
    text-decoration: none;
}

.card1:hover {
  background:#00ffb6;
  border:1px solid #00ffb6;
}

.card1:hover .list-group-item{
  background:#00ffb6 !important
}


.card2:hover {
  background: #13F4EF;
  border:1px solid #00C9FF;
}

.card2:hover .list-group-item{
  background:#13F4EF !important
}


.card3:hover {
  background:#ff95e9;
  border:1px solid #ff95e9;
}

.card3:hover .list-group-item{
  background:#ff95e9 !important
}


.card:hover .btn-outline-dark{
  color:white;
  background:#212529;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;

    /* Flexbox stuff */
    display: flex;

    /* Text styles */
    color: white;

    /* Background styles */
    position: relative;
    z-index: 1;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("img/monethicalhome2.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 1; /* Adjust the opacity value as needed */
    z-index: -1;
}


.hero h1 {
    /* Text styles */
    font-size: 5em;

    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero .btn {
    /* Positioning and sizing */
    display: block;
    width: 200px;

    /* Padding and margins */
    padding: 0.5em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    /* Text styles */
    color: white;
    text-decoration: none;
    font-size: 1.4em;

    /* Border styles */
    border: 3px solid white;
    border-radius: 10px;
}

.form-check-input[type="checkbox"] {
    transform: scale(2);
}

.bodyimg {
    /* Text styles */
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

.bodyimg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("img/homepage3.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 1; /* Adjust the opacity value as needed */
    z-index: -1;
}

.hero-inner {
  position: absolute;
  left: 0;
  right: 0;
  top: 20vh; /* Adjust the vertical position as needed */
}

.hero-title {
  color: white;
  padding: 0;
  font-size: 5vw; /* Adjust the font size based on the screen width */
  text-shadow: 0 0 20vw black; /* Adjust the text shadow based on the screen width */
  transform: translateY(20%); /* Remove or adjust this line */
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  margin-left: 5vw;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    opacity: 0;
    transition: opacity 0.6s ease-in;
}

.fade-in {
    opacity: 1;
}


.image {
    max-width: 100%;
    height: auto;
}

/* Added CSS for the fade-out effect */
.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.word {
  display: inline-block;
  margin-right: 10px;
  color: white;
  font-size: 2vw; /* Adjust the font size based on the screen width */
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin-left: 5vw;
  margin-right: 5vw;

  transform: translateY(-20%); /* Remove or adjust this line */
  padding: 4px;
}

@keyframes breathing {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.hero-image {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 7vw;
  animation: breathing 2s infinite;
}

.word:last-child {
  margin-right: 0;
}

.word::after {
  content: ".";
  display: inline-block;
  margin-left: 0vw; /* Adjust the margin based on the screen width */
  color: white;
  font-size: 2.5vw; /* Adjust the font size based on the screen width */
  text-shadow: -0.02vw -0.02vw 0 white, 0.02vw -0.02vw 0 white, -0.02vw 0.02vw 0 white, 0.02vw 0.02vw 0 white; /* Adjust the text shadow based on the screen width */
}

.subtitle {
  margin-bottom: 0;
}

.subtitle h3 {
  margin-bottom: 0;
  line-height: 1;
}

.card-body {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;
}

  .card-body:hover {
    background: rgba(0, 0, 0, 0.7) !important;
    border: 1px solid rgba(247, 169, 52, 0.8);
    transform: translate3D(0, -1px, 0) scale(1.1);
    cursor: pointer;
  }

  .card-body:hover .click-text {
    display: block;
  }

.card-body-report {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;
    padding: 20px;
}

.card-body-report:hover {
   background: rgba(0, 0, 0, 0.7) !important;
   border: 1px solid rgba(120, 220, 227, 0.8);
   transform: translate3D(0, -1px, 0) scale(1.1);
   cursor: pointer;
}

.card-body-report:hover .click-text {
   display: block;
}

.card-body-blockchain {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;
    padding: 20px;
}

.card-body-blockchain:hover {
   background: rgba(0, 0, 0, 0.7) !important;
   border: 1px solid rgba(232, 151, 220, 0.8);
   transform: translate3D(0, -1px, 0) scale(1.1);
   cursor: pointer;
}

.card-body-blockchain:hover .click-text {
   display: block;
}

.centered-section {
  display: flex;
  align-items: left;
  flex-direction: column;
  text-align: left;
  margin-top: 150px;
}

.left-card {
  flex-direction: column;
  margin-top: 0px;
  margin-bottom: 150px;
  font-size: 1.2rem;
}

.margin-big {
  margin-left: 30px;
  margin-right: 30px;
}

.homepage-contacts {
    overflow-y: auto; /* Enable vertical scrolling if needed */
    max-height: calc(100vh - 56px); /* Adjust the value as needed to account for the header's height */
}

.homepage-solutions {
    overflow-y: auto; /* Enable vertical scrolling if needed */
    max-height: calc(100vh - 56px); /* Adjust the value as needed to account for the header's height */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("img/solutions.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 1; /* Adjust the opacity value as needed */
    z-index: -1;
}

.report {
    height: 100vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    display: flex;
    justify-content: center; /* Align horizontally */
    align-items: center; /* Align vertically */
    flex-wrap: wrap; /* Enable the cards to wrap to a new line if necessary */

}

.report::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("img/report_bg.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.5; /* Adjust the opacity value as needed */
    z-index: -1;
}

.blockchain {
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.blockchain::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("img/contacts_bg.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.5; /* Adjust the opacity value as needed */
    z-index: -1;
}

.training {
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.training::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("img/training_bg.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.5; /* Adjust the opacity value as needed */
    z-index: -1;
}

.fullpage-carousel {
    height: calc(100vh - 160px);
    width: 100%;
}

.fullpage-carousel-last {
    height: calc(100vh - 160px);
    width: 100%;
}

.carousel-item {
    transition: transform 5s ease-in-out; /* Adjust the time as needed */
    display: flex;
    align-items: center;
    justify-content: center;
}

.sticky-footer-button {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    background: rgba(0,0,0,0.7); /* adjust as needed */
}

.btn-color {
  color: white !important;
  background-color: #1e2535 !important;
  border-color: #1e2535;
}

.btn-color:hover {
  color: white;
  background-color: #131721 !important;
  border-color: #131721;
}

.btn-color:focus, .btn-color.focus {
  box-shadow: 0 0 0 0.2rem var(--midnight-green-eagle-green);
}

.btn-color.disabled, .btn-color:disabled {
  color: #fff;
  background-color: var(--midnight-green-eagle-green);
  border-color: var(--midnight-green-eagle-green);
}

.btn-color:not(:disabled):not(.disabled):active, .btn-color:not(:disabled):not(.disabled).active,
.show > .btn-color.dropdown-toggle {
  color: #fff;
  background-color: var(--midnight-green-eagle-green-2);
  border-color: var(--midnight-green-eagle-green-2);
}

#report::before {
    background: url('img/report_bg.svg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#blockchain {
    background: url('img/blockchain_bg.svg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#training {
    background: url('img/training_bg.svg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#report, #blockchain, #training {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 1s linear; /* transition effect */
}


/* Media query for smaller screens */
@media (max-width: 768px) {
  .hero-title {
    font-size: 13vw;
    text-shadow: 0 0 2vw black;
  }

  .section {
    justify-content: space-around;
  }

  .word {
    font-size: 11vw;
  }

  .subtitle {
    margin-bottom: 12vw;
  }

  .hero-image {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 14vw;
    animation: breathing 3s infinite;
  }

  .word::after {
    content: ".";
    display: inline-block;
    margin-left: 0vw; /* Adjust the margin based on the screen width */
    color: white;
    font-size: 12vw; /* Adjust the font size based on the screen width */
  }

  .card-body:hover {
    background: rgba(0, 0, 0, 0.4) !important;
    border: 1px solid rgba(247, 169, 52, 0.7);
    transform: translate3D(0, -0px, 0) scale(1);
    cursor: pointer;
  }

 .card-body-report:hover {
    background: rgba(0, 0, 0, 0.4) !important;
    border: 1px solid rgba(120, 220, 227, 0.7);
    transform: translate3D(0, -0px, 0) scale(1);
    cursor: pointer;
  }

 .card-body-blockchain:hover {
    background: rgba(0, 0, 0, 0.4) !important;
    border: 1px solid rgba(232, 151, 220, 0.7);
    transform: translate3D(0, -0px, 0) scale(1);
    cursor: pointer;
  }

  .centered-section {
      display: flex;
      align-items: left;
      flex-direction: column;
      text-align: left;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 80px;
    }

  .left-card {
    margin-right: auto;
    margin-left: auto;
  }

  .margin-big {
    margin-left: 5px;
    margin-right: 5px;
  }

  .solutions-page .card-body-report {
    margin-left: 45px;
    margin-right: 45px;
  }

  .solutions-page .card-body-report p {
    font-size: 12px; /* adjust as needed */
  }

  .solutions-page .card-body-report h2 {
    font-size: 20px; /* adjust as needed */
  }

  .solutions-page .card-body-blockchain {
    margin-left: 45px;
    margin-right: 45px;
  }

  .solutions-page .card-body-blockchain p {
    font-size: 12px; /* adjust as needed */
  }

  .solutions-page .card-body-blockchain h2 {
    font-size: 20px; /* adjust as needed */
  }

  .solutions-page .card-body {
    margin-left: 45px;
    margin-right: 45px;
  }

  .solutions-page .card-body p {
    font-size: 12px; /* adjust as needed */
  }

  .solutions-page .card-body h2 {
    font-size: 20px; /* adjust as needed */
  }

  .solutions-page .btn-group button {
    font-size: 12px; /* adjust as needed */
  }

  .btn-group {
    visibility: hidden;
  }

  #contacts_title {
    margin-top: 50px;
  }
}